
<span class="userbox">
	<% if @user != nil %>
		<% link_to( :action => "info", :controller => "game" ) do %>
			<span class="name"><%= @user.name %></span>
		<% end %>
		<span class="turns"><%= @user.turns %></span>
		<span class="score"><%= @user.score %></span>
		<span class="logout"><%= link_to "Log out", :action => "logout" %></span>
	<% else %>
		<%= link_to "Join the battle!", :action => "new" %><br />
		<% form_tag( :action => "login" ) do %>
			<label for="name">Username:</label><br />
			<%= text_field_tag :name, params[:name] %><br />
			<label for="password">Password:</label><br />
			<%= password_field_tag :password, params[:password] %><br />
			<%= submit_tag "Login" %>
		<% end %>
	<% end %>
</span>