<div style="text-align: left;">
  <h1>Personal Information</h1>

  <p>
    <b>Name: </b><%= h @user.name %><br/>
    <b>Turns: </b><%= h @user.turns %><br/>
    <b>Soldiers: </b><%= h @user.total_soldiers %><br/>
    <b>Alliance: </b><%= h UsersHelper.getAllianceStr(@user.alliance) %><br/>
    <b>View port: </b><%= h @user.viewport_x %>, <%= h @user.viewport_y %><br/>
      <b>Last time you gain your turns: </b><%=h @user.last_time_turns_commit %><br/>
  </p>

  <br>
  <%= link_to 'Gameboard',    :controller => 'zones' %>
</div>