<h1>New user</h1>

<% @Alliances = ['red', 'green', 'blue'] %>
<% random_alliance = rand(@Alliances.length) %>

<% form_for @user, :url => "new" do |f| %>
	<%= f.error_messages %>
	<fieldset>
		<legend>Enter User Details</legend>
		<div>
			<%= f.label :name %><br />
			<%= f.text_field :name, :size => 40 %>
		</div>
		<div>
		  <%= f.label :alliance %>
		  <%= select :alliance, "", @Alliances, :selected => @Alliances[random_alliance] %>
		</div>
		<div>
			<%= f.label :color, "Color (RGB)" %><br />
			<%= f.text_field :color_r, :size => 10 %>
			<%= f.text_field :color_g, :size => 10 %>
			<%= f.text_field :color_b, :size => 10 %>
		</div>
		<div>
			<%= f.label :email %><br />
			<%= f.text_field :email, :size => 40 %>
		</div>
		<div>
			<%= f.label :user_password, "Password" %><br />
			<%= f.password_field :password, :size => 40 %>
		</div>
		<div>
			<%= f.label :user_password_confirmation, "Confirm" %><br />
			<%= f.password_field :password_confirmation, :size => 40 %>
		</div>
		<div>
			<%= f.submit "Create User", :class => "submit" %>
		</div>
	</fieldset>
<% end %>

<%= link_to "Return to Index", :action => "index" %>
