<h1>Editing state</h1>

<% form_for(@state) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :state_name %><br />
    <%= f.text_field :state_name %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :soldiers %><br />
    <%= f.text_field :soldiers %>
  </p>
  <p>
    <%= f.label :alliance %><br />
    <%= f.text_field :alliance %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @state %> |
<%= link_to 'Back', states_path %>
