<meta http-equiv="refresh" content="8"/>
<br>
<%
   @mygrid_color = "3333ff"
   @othergrid_color = "ff33ff"
   @expandgrid_color = "ffff55"

   #------------------------ Xin
   def get_color_hex(user_id)
       # return a color string determined by the current user_id
       if not user_id
           "ffffff"
       else
           colorstr = (user_id % 5 * 25 + 128).to_s(16)
           colorstr = colorstr + (user_id % 100 + 128).to_s(16)
           colorstr = colorstr + (user_id % 2 * 127 + 128).to_s(16)
           colorstr
       end
   end

   tablew = (@x_max - @x_min + 1) * (@grid_w + 1) + 1
   tableh = (@y_max - @y_min + 1)* (@grid_w + 1) + 1 + 20
%>

<div style="position:relative;width:<%= (@x_max-@x_min+1)*@grid_w %>px; height:<%= tableh %>px;">

    <!--- background grid --->

    <table cellpadding="0" cellspacing="0" border="0" width="<%= tablew %>">
        <tr height="1" bgcolor="#aaaaaa">
            <td colspan="<%= (@x_max - @x_min + 1)*2 + 1 %>"></td>
        </tr>
        <% for y in (@y_min..@y_max) %>
            <tr height="<%= @grid_w %>">
                <td width="1" bgcolor="#aaaaaa"></td>
                <% for x in (@x_min..@x_max)
                %>
                    <td width="<%= @grid_w %>">
                    <% if @user and @user.total_zones == 0 #user has no zone%>
                    <%= link_to image_tag("/images/spacer.gif", :border => 0, :width => @grid_w - 1, :height => @grid_w - 1),
                        :controller => 'game', :action => 'expand_into_zone', :targetX => x, :targetY => y %>
                    <% end%>
                    </td>
                    <td width="1" bgcolor="#aaaaaa"></td>
                <% end #for x   %>
            </tr>
            <tr height="1" bgcolor="#aaaaaa">
                <td colspan="<%= (@x_max - @x_min + 1)*2 + 1 %>"></td>
            </tr>
        <% end #for y   %>
    </table>

    <!--- expandable zones --->
    <%
       if @expandable_zones
           for zone in @expandable_zones
               xpos = (zone[:x] - @x_min) * (@grid_w + 1) + 1
               ypos = (zone[:y] - @y_min) * (@grid_w + 1) + 1
    %>
            <div onMouseMove="style.backgroundColor='#84DFC1';"
                 onMouseOut="style.backgroundColor='#FFFFFF';"
                 style="position:absolute; z-index:1;
                         top:<%= ypos %>px; left:<%= xpos %>px; width:<%= @grid_w %>px; height:<%= @grid_w %>px">
                <%= link_to image_tag("/images/no_zone.gif", :border => 0, :width => @grid_w, :height => @grid_w),
                        :controller => 'game', :action => 'expand_into_zone', :targetX => zone[:x], :targetY => zone[:y] %>
            </div>
        <%
           end
           end
        %>

    <!--- existing zones --->
    <%
       if @existing_zones
           for zone in @existing_zones
               downzone = @existing_zones.detect {|dzone| dzone.x == zone.x and dzone.y == zone.y+1 and dzone.user_id == zone.user_id}
               zoneh = @grid_w
               if downzone != nil
                   zoneh += 1
               end
               rightzone = @existing_zones.detect {|rzone| rzone.x == zone.x+1 and rzone.y == zone.y and rzone.user_id == zone.user_id}
               zonew = @grid_w
               if rightzone != nil
                   zonew += 1
               end

               xpos = (zone.x - @x_min) * (@grid_w + 1) + 1
               ypos = (zone.y - @y_min) * (@grid_w + 1) + 1
               bg_str = "#" + get_color_hex(zone.user_id)
    %>
            <div align="center" style="position:absolute; z-index:0;
                        top:<%= ypos %>px; left:<%= xpos %>px; width:<%= zonew %>px; height:<%= zoneh %>px;
                        background:<%= bg_str %>">
                <% if @user and zone.user_id == @user.id %>
                <%=link_to zone.soldiers.to_s, :controller => 'game', :action => "train_soldiers",
                        :targetX => zone.x, :targetY => zone.y%>
                <% else %>
                <%=zone.soldiers%>
                <% end %>
            </div>
        <%
           end
           end %>

    <!--- attackable zones --->
    <%
       if @attackable_zones
           for zone in @attackable_zones
               xpos = (zone[:x] - @x_min) * (@grid_w + 1) + 1
               ypos = (zone[:y] - @y_min) * (@grid_w + 1) + 1
    %>
            <div onMouseMove="style.backgroundColor='#84DFC1';"
                 onMouseOut="style.backgroundColor='#FFFFFF';"
                 style="position:absolute; z-index:1;
                         top:<%= ypos %>px; left:<%= xpos %>px; width:<%= @grid_w %>px; height:<%= @grid_w %>px">
                <%= link_to image_tag("/images/battle.gif", :border => 0, :width => @grid_w, :height => @grid_w),
                        :controller => 'game', :action => 'attack_zone', :targetX => zone[:x], :targetY => zone[:y] %>
            </div>
        <%
           end
           end
        %>

    <!--- other users list in this area --->
    <div style="position:absolute; top:15px; left:<%=tablew + 20%>px; width:200px; height:500px; ">
    <table cellpadding="0" cellspacing="0" border="0">
        <% for other_user in @users_in_area
            if other_user.id != @user.id %>
                <tr height="<%= @grid_w %>">
                    <td width="<%= @grid_w*1.5 %>">
                        <table bgcolor="#<%= get_color_hex(other_user.id) %>" width="<%= @grid_w %>" height="<%= @grid_w %>">
                        <tr><td></td></tr>
                        </table>
                    </td>
                    <td width="150"><%= other_user.name %></td>
                </tr>
                <tr height="8"></tr>
            <% end
               end %>
    </table>
    </div>

    <!---grid view comments--->
    <div style="position:absolute; top:<%=tableh - 10%>px; left:<%=15%>px; width:<%=tablew%>px; height:30px; ">
    <table cellpadding="0" cellspacing="0" border="0">

        <tr height="<%= @grid_w %>">
            <% if @user %>
                <td width="<%= @grid_w*1.5 %>">
                    <table bgcolor="#<%= get_color_hex(@user.id) %>" width="<%= @grid_w %>" height="<%= @grid_w %>">
                        <tr><td></td></tr>
                    </table>
                </td>
                <td width="150"><%= @user.name %> (yourself)</td>
            <% end %>
            <% if @user %>
                <td width="<%= @grid_w*1.5 %>"><img src="/images/flag.gif" width="<%= @grid_w %>" height="<%= @grid_w %>">
                </td>
                <td width="150">Current position</td>
                <td width="<%= @grid_w*1.5 %>">
                    <img src="/images/no_zone.gif" width="<%= @grid_w %>" height="<%= @grid_w %>">
                </td>
                <td width="150">Expandable Zones</td>
                <td width="<%= @grid_w*1.5 %>">
                    <img src="/images/battle.gif" width="<%= @grid_w %>" height="<%= @grid_w %>">
                </td>
                <td width="150">Attackable Zones</td>
            <% end %>
        </tr>
    </table>
    </div>

    <!---viewport flag--->
    <%
       if @user
           xpos = (@user.viewport_x.to_i - @x_min) * (@grid_w + 1) + 1
           ypos = (@user.viewport_y.to_i - @y_min) * (@grid_w + 1) + 1
    %>
    <div style="position:absolute; z-index:2;
                top:<%= ypos %>px; left:<%= xpos %>px; width:<%= @grid_w %>px; height:<%= @grid_w %>px;">
    <img src="/images/flag.gif" width="<%= @grid_w %>" height="<%= @grid_w %>">
    </div>
    <% end %>
</div>

<br>
<% if @user%>
<%= button_to "Train Soldier",
    {:controller => "game", :action => "train_soldiers",
     :targetX => @user.viewport_x.to_i, :targetY => @user.viewport_y.to_i} %>
<% end %>

